{# siteDynamiquePython/PythonPublisher/templates/Accueil.html: #}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Python Publisher</title>
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
    </head>
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://localhost:5000/">Python Publisher</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="http://localhost:5000/vide">Vide</a></li>
                <li><a href="http://localhost:5000/pages">Pages créées</a></li>
                <li><a href="http://localhost:5000/connexion">Connexion</a></li>
                <li><a href="http://localhost:5000/inscription">Inscription</a></li>
            </ul>
        </div>
    </nav>    

    <div class="container-fluid">
        <h1 class="text-center">
            Bienvenue sur Pyhton Publisher : Réalisé par Maxime Lamyae et Yusuf
            <br>
            <br>
        </h1>
        <div class="text-center">
            <img class="text-center" src="/static/python.png">
        </div>
    </div>
    </body>
</html>