<!DOCTYPE html>
<html lang="fr">
    {% include 'header.html' %}
    <body>
    {% include 'menu.html' %}
    <div class="text-center">
        <h{{page["taille"]}}>
            {{page["titre"]}}
        </h{{page["taille"]}}>
        <!-- <img class="img-thumbnail" src="{{image}}"> -->
        <div class="col-lg-4 col-sm-offset-4">
            <div class="text-justify">
                {{page["article"]}}
            </div>
        </div>
    </div>
    </body>
		    {% include 'bottom.html' %}
</html>